 <div class="top-wrapper">
    <div class="word">
      <h1 class="catchphrase"><a>いつもの旅を、</a> <br>&emsp; &emsp; <a>誰かと一緒に</a></h1>
    </div>
    <p class="credit">Photo by <a href="https://unsplash.com/@dinoreichmuth?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Dino Reichmuth</a> on <a href="https://unsplash.com/s/photos/trip?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
    </p>
  </div>
  <!--サービスについての説明-->
  <div class="about-wrapper">
    <div class="about-article">
      <h2 class="about">Olmee(オルミー)について</h2>
      <h1 class="sub-about">旅人x出会い</h1>
      <p class="about-text">旅先で、<span>観光</span>や<span>食事</span>などを一緒にしたい人を見つたい人を<br>サポートするマッチングサービスです！</p>
    </div>
  </div>
  <!--サービスの価格についての説明-->
  <div class="price-wrapper">
    <div class="price-article">
      <h2 class="price">料金</h2>
      <h1 class="sub-price">0円</h1>
      <p class="price-text">このサービスは、全て<span>無料</span>でご利用いただけます</p>
    </div>
  </div>
  <!--サービスの始め方の案内-->
  <div class="start-wrapper">
    <div class="start-article">
      <h2 class="start">始め方</h2>
      <%# ここに実際の画像をはっておく %>
    </div>
  </div>