 <div class="top-wrapper">
      <nav>
        <ul id="navi-ul">
          <li class="site-icon">旅とも</li>
          <li><a>About</a></li>
          <li><a>お問い合わせ</a></li>
          <li><a href="#">ログイン</a></li>
          <li><a href="/users/new">新規登録</a></li>
        </ul>
      </nav>
      <div class="word">
        <h1 class="catchphrase"><a>いつもの旅を、</a> <br>&emsp; &emsp; <a>誰かと一緒に</a></h1>
      </div>
  </div>
  <!--サービスについての説明-->
  <div class="about-wrapper">
    <div class="about-article">
      <h2 class="about">サービス</h2>
      <h1 class="sub-about">旅人x出会い</h1>
      <p class="about-text">旅先で、<span>観光</span>や<span>食事</span>などを一緒にしたい人を見つたい人を<br>サポートするマッチングサービスです！</p>
    </div>
  </div>
  <!--サービスの価格についての説明-->
  <div class="price-wrapper">
    <div class="price-article">
      <h2 class="price">料金</h2>
      <h1 class="sub-price">0円</h1>
      <p class="price-text">このサービスは、全て<span>無料</span>でご利用いただけます</p>
    </div>
  </div>
  <!--サービスの始め方の案内-->
  <div class="start-wrapper">
    <div class="start-article">
      <h2 class="start">始め方</h2>
      <%# ここに実際の画像をはっておく %>
    </div>
  </div>