h1 {
  text-align: center;
  padding: 30px 0;
  span {
    color: red;
  }
}

#host-menu {
  font-size: 1.3em;
}

// 募集詳細ページテーブルのデザイン
table {
    width: 80%;
    border-collapse: collapse;
    font-size: 1.4em;
    margin: auto;
  th {
    width: 20%;
    background: #555575;
    border: 1px solid #ccc;
    box-sizing: border-box;
    padding: 15px;
    text-align: center;
  }
  td {
    background: #fff;
    border: 1px solid #ccc;
    padding: 15px;
    text-align: left;
  }
}
// 〜ここまで募集詳細ページのデザイン〜

.btn-menu {
  text-align: center;
  .btn {
    margin: 20px 0;
    width: 15%;
    padding: 10px;
  }
}

// レスポンシブデザイン対応
@media all and ( max-width: 767px ) {
  table th, table td {
    display: block;
    width: 100%;
    border-bottom: none;
  }
  table tr:last-child td:last-child {
    border-bottom: 1px solid #ccc;
  }
  .btn {
    min-width: 150px;
  }
}