h1 {
  font-size: 3.3em;
  text-align: center;
  padding-bottom: 30px;
  margin: 30px 0;
}
// 問い合わせフォーム
#contact-wrapper {
  .contact-table {
    margin: 0 auto;
    width: 800px;
    .contact-body {
      padding: 20px;
      input {
        width: 200px;
        height: 2em;
        border: none;
        border-bottom: 1px solid black;
      }
      textarea {
        height: 100px;
        width: 300px;
      }
      .field_with_errors > input {
        border: 1px solid red;
        opacity: 0.7;
    }
    }
    .contact-items {
      text-align: left;
      width: 300px;
      font-size: 1.3em;
      border-right: 1px solid #ccc;
      span {
        color: white;
        background-color: red;
      }
    }
  }
  .contact-btn {
    text-align: center;
    padding: 30px;
  }
  .contact-btn > input {
    cursor: pointer;
    width: 30%;
    height: 4em;
    background-color: aliceblue;
    &:hover {
      background-color: rgb(221, 237, 250);
    }
  }

}

// 〜ここまで問い合わせフォーム〜