<p>お問い合わせ</p>
<p>---------------------------------------</p>
<p>お名前: <%= @contact.name %></p>
<p>メールアドレス <%= @contact.email %></p>
<p>件名: <%= @contact.subject %></p>
<p>---------------------------------------</p>
<p>・お問い合わせ内容</p>
<p><%= @contact.message %></p>

<p>----------------------------------------</p>