/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

html {
  font-size: 62.5%;
}

ul {
  list-style: none;
}

body {
  height: auto;
  display: flex;
  flex-direction: column;
}

 /* フォーム送信失敗時 */
#error_explanation {
  color: red;
  border-bottom: 0.5px solid red;
  margin-bottom: 15px;
  opacity: 0.7;
}

.field_with_errors ＞ input {
    border: 0.1px solid red;
    opacity: 0.7;
  }
 /* 〜〜ここまでフォーム送信失敗時〜〜 */

/* footer要素 */
footer {
  margin-top: 40px;
  padding: 30px 0;
  background: #2b2b3f;
  color: #fff;
  text-align: center;
}
/* ここまでfooter */