header {
  display: flex;
  height: 60px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 100;
  background-color: black;
  opacity: 0.8;
}

img {
  height: 60px;
  width: 100px;
}

// 〜グローバルナビゲーション〜
.btn-gNav{
  display: none;
}

#gnav {
  width: 100%;
  height: 60px;
  ul {
    height: 60px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    text-align: center;
    li {
      cursor: pointer;
      vertical-align: top;
      line-height: 60px;
      display: inline-block;
      width: 20%;
      a{
        display: block;
        font-size: 1.3em;
        border-right: 1px solid white;
        color: white;
      }
    }
    li:hover {
      border-bottom: 3px solid rgb(241, 241, 7) ;
    }
    li:first-child a {
      border-left: 1px solid white;
    }
  }
}
  .site-icon {
    position: absolute;
    top: 15px;
    left: 15px;
  }
//~ここまでグローバルナビゲーション~

// ハンバーガーメニュー
@media screen and (max-width: 600px) {
  #gnav {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100%;
    height: 100%;
    z-index: 100;
    background-color: #2b2b3f;
    opacity: 0.7;

  }
  #gnav.open{
    right: 0px;
  }

  .btn-gnav{
    position: fixed;
    top: 20px;
    right: 20px;
    width: 30px;
    height: 24px;
    z-index: 200;
    cursor: pointer;
    -webkit-transition: all 400ms;
    transition: all 400ms;
    span{
      position: absolute;
      width: 100%;
      height: 4px;
      background: #666;
      border-radius: 10px;
      -webkit-transition: all 400ms;
      transition: all 400ms;
    }
  }

   .btn-gnav span:nth-child(1) {
    top:0;
  }
   .btn-gnav span:nth-child(2) {
    top:10px;
  }
   .btn-gnav span:nth-child(3) {
    top:20px;
  }

   .btn-gnav.open span:nth-child(1){
    top: 6px;
    -webkit-transform: rotate(-45deg);
    -moz-transform   : rotate(-45deg);
    transform        : rotate(-45deg);
  }

   .btn-gnav.open span:nth-child(2), .btn-gnav.open span:nth-child(3){
    top: 6px;
    background :#fff;
    -webkit-transform: rotate(45deg);
    -moz-transform   : rotate(45deg);
    transform        : rotate(45deg);
  }

  #gnav .gnav-menu{
    width: 100%;
    height:100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    li a{
      border: none;
    }
    li:first-child a{
      border: none;
    }
  }
}  
// 〜ここまでハンバーガーメニュー〜