//背景画像
.top-wrapper {
  background-image: url(/assets/top_page.jpg);
  background-size: cover;
  height: 1000px;
  width: 100%;
  position: relative;
}
//〜ここまで背景画像〜


// キャッチフレーズ
.word {
  z-index: 40;
  text-align: left;
  padding-top: 8vh;
  .catchphrase {
    font-size: 7vw;
  }
  a {
    color: white;
    text-decoration: underline;
    letter-spacing: 1vw;
  }
}
.credit {
  position: absolute;
  right: 0;
  bottom: 0;
}
// 〜ここまでキャッチフレーズ〜

//サービス説明
.about-wrapper {
  text-align: center;
  padding: 30px 0;
  height: 240px;
  .about {
    font-size: 30px;
  }
  .sub-about {
    font-size: 23px;
    padding-bottom: 20px;
  }
  .about-text {
    font-size: 18px;
    span {
      color: #E7DA66;
    }
  }
}
//〜ここまでサービス説明〜

//サービス料金
.price-wrapper {
  text-align: center;
  background-color: rgb(218, 211, 125);
  padding: 30px 0;
  height: 240px;
  .price {
    font-size: 30px;
  }
  .sub-price {
    font-size: 28px;
  }
  .price-text {
    padding-top: 20px;
    font-size: 18px;
    span {
      color: red;
      font: bold;
      font-weight: bold;
    }
  }
}
//〜ここまでサービス料金〜
