// ~新規登録ページ上の文章~
.explanation {
  h1 {
    font-size: 3.3em;
    text-align: center;
    padding-bottom: 30px;
    margin: 30px 0;
  }
  p {
    text-align: center;
    font-size: 1.2em;
    span {
      color: red;
    }
  }
}
// ~新規登録ページ上の文章~

// 新規登録フォーム
.form-wrapper {
  .new-table {
    margin: 0 auto;
    width: 800px;
    .new-body {
      padding: 20px;
      input {
        width: 200px;
        height: 2em;
        border: none;
        border-bottom: 1px solid black;
      }
      .field_with_errors > input {
        border: 1px solid red;
        opacity: 0.7;
    }
    }
    .new-items {
      text-align: left;
      width: 300px;
      font-size: 1.3em;
      border-right: 1px solid #ccc;
      span {
        color: white;
        background-color: red;
      }
    }
  }
  .new-btn {
    text-align: center;
    padding: 30px;
  }
  .new-btn > input {
    cursor: pointer;
    width: 30%;
    height: 4em;
    background-color: aliceblue;
    &:hover {
      background-color: rgb(221, 237, 250);
    }
  }

}
// 〜ここまで新規登録フォーム〜


// アカウントをお持ちの場合
.has-account {
  text-align: center;
}
// 〜ここまでアカウントをお持ちの場合〜