h1 {
  text-align: center;
  padding: 20px 0;
}

// 参加予定イベント
#participate-event {
  border-bottom: 1px solid #ccc;
}
// ~ここまで参加予定イベント~


// ユーザーのプロフィール情報テーブル
#profile-table {
  margin: 0 auto;
  width: 100%;
  caption {
    font-size: 2em;
    padding: 20px;
  }
  .profile-th {
    padding: 30px;
    font-size: 1.5em;
    border-right: 1px solid #ccc;
  }
  .profile-td {
    font-size: 1.5em;
    padding: 30px;
    text-align: left;
  }
}
// 〜ここまでユーザーのプロフィール情報テーブル〜
  .edit-profile {
    font-size: 1.2em;
    padding: 15px 0;
    text-align: center;
  }


  @media all and ( max-width: 550px ) {
    #profile-table .profile-th, #profile-table .profile-td {
      display: block;
      width: 100%;
      text-align: center;
      border-right: none;
      font-size: 1.4rem;
    }

    .profile-td {
      border-bottom: 1px solid #ccc;
    }
  }