// 参加予定イベント
.participation-event {
  height: 200px;
  width: 200px;
  background-color: aqua;
}
// ~ここまで参加予定イベント~


// ユーザーのプロフィール情報テーブル
#profile-table {
  margin: 0 auto;
  width: 100%;
  caption {
    font-size: 2em;
    // text-align: left;
  }
  .profile-items {
    // text-align: left;
    padding: 30px;
    font-size: 1.5em;
    border-right: 1px solid #ccc;
  }
  .profile-body {
    font-size: 1.5em;
    padding: 30px;
  }
}
// 〜ここまでユーザーのプロフィール情報テーブル〜

p {
  padding-top: 10px;
  text-align: center;
  font-size: 1.4em;
}