.reset-wrapper {
  padding-top: 30px;
  display: flex;
  justify-content: center;
}

input {
  display: block;
  width: 20em;
  height: 3em;
  margin-top: 5px;
}

.btn {
  border: 1px solid #000;
  background-color: aliceblue;
  cursor: pointer;
  &:hover {
    background-color: rgb(221, 237, 250);
  }
}