// 説明
.reset-text {
  text-align: center;
  h1 {
    padding: 15px;
  }
}
// 〜ここまで説明〜

// メールアドレス入力用(パスワード変更用ページ)
.reset-wrapper {
  padding-top: 30px;
  display: flex;
  justify-content: center;
  input {
    display: block;
    width: 20rem;
    height: 3rem;
    margin: 10px 0;
  }
  .btn {
    border: 1px solid #000;
    background-color: aliceblue;
    cursor: pointer;
    &:hover {
      background-color: rgb(221, 237, 250);
    }
  }
}
// 〜ここまでメールアドレス入力用(パスワード変更用ページ)〜