<%= stylesheet_link_tag 'chats/messages', :media => "all" %>
    <% if @chats.nil? %>
      <p>まだコメントはありません</p>
    <% else %>
      <% @chats.each do |chat|%>
        <% if chat.user_id == current_user.id %>
          <div class="right-side">
            <p class="user-name">自分</p>
            <p class="message"><%= chat.message %></p>
          </div>
        <% else %>
          <div class="left-side">
            <p class="user-name"><%= user_name( chat ) %></p>
            <p class="message"><%= chat.message %></p>
          </div>
      <% end %>
    <% end %>
  <% end %>